.advant{
    margin: 100px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 30px var(--light_grey);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 130px;
}
.advant__part{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #EEEFF2;
    margin-top: 37px;
    margin-bottom: 37px;
}
.advant__part:last-of-type{
    border-right: 0;
}
.advant__img{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: #FFECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red_color);
    margin-right: 52px;
}
/* TODO сделать анимации обратного исчезновения */
.advant__img span:hover{
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s;
}
.advant_wrap__count{
    font-family: Rubik;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: var(--black_color);
}
.advant_wrap__info{
    font-family: Rubik;
    font-size: 25px;
    line-height: 30px;
    color: var(--black_second_color);
}