.plans_wrapper {
  width: 72%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  height: 760px;
  margin: 0 auto;
  column-gap: 3.5%;
}
.plans {
  padding-top: 4em;
  border: 2px solid #dddddd;
  height: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
}
.plans__img {
  background-image: url("../img/box.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  grid-row: 1/3;
  height: 166px;
  width: 144px;
  margin: 0 auto;
}
.plans__img.first_plans3 {
  background-image: url("../img/box3.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  grid-row: 1/3;
  height: 166px;
  width: 144px;
  margin: 0 auto;
}
.plans__h5 {
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  font-family: Rubik;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--black_color);
}
.plans__ul {
  grid-row: 5/7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.plans__ul li {
  list-style-type: none;
  display: flex;
}
.plans__ul li:before {
  content: "";
  background-image: url("../img/tick_small.svg");
  width: 20px;
  height: 20px;
  background: contain;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}
.plans__p {
  grid-row: 8/9;
  font-family: Rubik;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
.plans__btn {
  grid-row: 9/10;
  border: 2px solid var(--red_color);
  border-radius: 50px;
  width: 177px;
  height: 45px;
  color: var(--red_color);
  background-color: #fff;
  font-family: Rubik;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.plans__btn:hover {
  transition: all 1s;
  cursor: pointer;
  background-color: var(--red_color);
  border-color: var(--red_color);
  color: white;
}
