.promo_wrapper {
  display: flex;
  width: 82%;
  margin: 150px auto;
}
.promo {
  display: grid;
  grid-template-rows: 50% 20% 30%;
  width: 700px;
}

.promo__heading {
  font-family: Rubik;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
  color: var(--black_color);
}
.promo__heading span {
  font-weight: bold;
}
.promo__content {
  font-family: Rubik;
  font-size: 16px;
  line-height: 30px;
  color: var(--black_color);
}
.promo__btn {
  outline: none;
  background-color: var(--red_color);
  color: #fff;
  padding: 17px 78px;
  font-family: Rubik;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  border: 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 20px var(--red_color);
}
.promo__btn:hover {
  box-shadow: 2px 12px 20px var(--black_color);
  cursor: pointer;
  transition: all 0.5s;
  background-color: var(--black_color);
}
.promo__img {
  background-image: url("../img/man_laptop.svg");
  height: 482px;
  background-size: contain;
  width: 850px;
  background-repeat: no-repeat;
}
