.promo_wrapper{
    display: flex;
    width: 82%;
    margin: 150px auto;
}
.promo{
    display: grid;
    grid-template-rows: 160px 110px 85px;
}
.promo__heading{
    font-family: Rubik;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 20px;
    color: var(--black_color);
}
.promo__heading span{
    font-weight: bold;
}
.promo__content{
    font-family: Rubik;
    font-size: 16px;
    line-height: 30px;
    color: var(--black_color);
}
.promo__btn{
    outline: none;
    background-color: var(--red_color);
    color: white;
    padding: 17px 78px;
    font-family: Rubik;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    border: 0px;
    border-radius: 10px;
}
.promo__btn:hover{
    box-shadow: 2px 5px 30px var(--red_color);
    cursor:pointer;
    transition: all 0.5s;
    background-color:var (--black_color);
}
.promo__img{
    background-image: url('../img/man_laptop.svg');
    height: 482px;
    background-size: contain;
    width: 850px;
    background-repeat: no-repeat;
}