.promo_second {
    display: flex;
    margin: 0 150px 126px 184px;
}

.promo_second__img {
    background-image: url('../img/Illustration_2.svg');
    height: 500px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.promo_second__wrap {
    display: grid;
    grid-template-rows: 30% 24% 46%;
    width: 32%;
}

.promo_secont__h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.promo_secont__content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.promo_secont_list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.promo_secont_list li {
    font-family: Rubik;
    font-size: 14px;
    line-height: 30px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.promo_secont_list li:before {
    content: '';
    background-image: url(../img/Group\ 1120.svg);
    width: 24px;
    height: 24px;
    margin-left: 10px;
    display: inline-block;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center; 
}