@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("reset.css");
@import url("variables.css");
@import url("header.css");
@import url("promo.css");
@import url("advant.css");
@import url("promo2.css");
@import url("plans.css");
